# app
/.env
/app/node_modules
/app/dist
/app/log/*
!/app/log/.gitkeep
/app/.env.local
/app/.env.*.local
/app/.env.production
/app/.env.*.production

# log files
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/pnpm-debug.log*

# editor
.vscode/
launch.json

# other
.DS_Store

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

